# Build results
bin
build
.gradle
src-gen
bazel-*

# Smoke test artifacts
artman-genfiles
tmp

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings

# emacs/gEdit autosave files
*~

# IntelliJ
.idea
*.iml
*.ipr
*.iws
