version: 2.0

# ======================= ANCHORS =======================

anchor_artman_vars: &anchor_artman_vars
  ARTMAN_REPORTS_DIR: /tmp/workspace/reports/generations

anchor_auth_vars: &anchor_auth_vars
  GCLOUD_PROJECT: gapic-test
  GOOGLE_APPLICATION_CREDENTIALS: /tmp/workspace/gapic-generator/.circleci/gapic-generator-it-test.json

anchor_run_decrypt: &anchor_run_decrypt
  name: Decrypt credentials (if encryption key is given)
  command: |
    if ! [ -z "$SYSTEM_TESTS_ENCRYPTION_KEY" ]
      openssl aes-256-cbc -md sha256 -d \
          -in /tmp/workspace/gapic-generator/.circleci/gapic-generator-it-test.json.enc \
          -out /tmp/workspace/gapic-generator/.circleci/gapic-generator-it-test.json \
          -k "${SYSTEM_TESTS_ENCRYPTION_KEY}"
    fi

anchor_check_generation: &anchor_check_generation
  command: |
    # Generation for a language passed if there exists a [language].log
    # which was outputted by generate_clients.py upon success.
    # LANGUAGE must be set in BASH_ENV in a prior command.
    if [ -e ${ARTMAN_REPORTS_DIR}/${LANGUAGE}.log ]
    then
        exit 0
    else
        exit 1
    fi

# We use this setup for jobs that verify that generation of a given language succeeded.
anchor_verify_generation: &anchor_verify_generation
  environment:
    <<: *anchor_artman_vars
  working_directory: /tmp/
  docker:
    # Use a small CircleCI Docker image which will support workspace persistence.
    - image: circleci/slim-base
  steps:
    - attach_workspace:
        # Load the REPORTS_DIR from generate-clients
        at: workspace
    - run:
        name: Check if language generation had succeeded.
        <<: *anchor_check_generation

anchor_test_python: &anchor_test_python
  working_directory: /tmp/
  docker:
    # Use Docker image version v0.17.0 because latest v0.18.2 is not compatible with `attach_workspace` step.
    - image: googleapis/nox:0.17.0
  steps:
    - attach_workspace:
        at: workspace
    - run:
        <<: *anchor_run_decrypt
    - run:
        name: Save nox command
        command: |
          # Set NOX_COMMANDS for each job that uses this config.
          nox_tests () { $NOX_COMMANDS }
          echo 'export -f nox_tests' >> $BASH_ENV
    # Generated Logging client is broken: https://github.com/googleapis/gapic-generator/issues/2209.
    - run:
        name: Run nox on pubsub
        command: |
          cd workspace/gapic-generator/artman-genfiles/python/pubsub-v1
          nox_tests
        when: always
    - run:
        name: Run nox on speech
        command: |
          cd workspace/gapic-generator/artman-genfiles/python/speech-v1
          nox_tests
        when: always

anchor_ruby_bundle: &anchor_ruby_bundle
  command: |
    cd workspace/gapic-generator/artman-genfiles/ruby/google-cloud-ruby/${TEST_API}
    bundle update
  when: always

anchor_test_ruby: &anchor_test_ruby
  # Set var TEST_RUBY_COMMAND for each job this anchor is used in.
  working_directory: /tmp/
  docker:
    - image: circleci/ruby:2.4-node
  steps:
    - attach_workspace:
        # Use the workspace created in generate-clients
        at: workspace
    - run:
        <<: *anchor_run_decrypt
    - run:
        name: Test Pubsub.
        command: |
          cd workspace/gapic-generator/artman-genfiles/ruby/google-cloud-ruby/google-cloud-pubsub
          bundle update
          ${TEST_RUBY_COMMAND}
        when: always
    - run:
        name: Test Speech.
        command: |
          cd workspace/gapic-generator/artman-genfiles/ruby/google-cloud-ruby/google-cloud-speech
          bundle update
          ${TEST_RUBY_COMMAND}
        when: always
    - run:
        name: Test Logging.
        command: |
          cd workspace/gapic-generator/artman-genfiles/ruby/google-cloud-ruby/google-cloud-logging
          bundle update
          ${TEST_RUBY_COMMAND}
        when: always

# ======================= JOBS =======================

jobs:
  build:
    docker:
      - image: googleapis/git
    steps:
      - checkout
    working_directory: /tmp/workspace/gapic-generator
  install-gapic-generator:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: /tmp/workspace
    steps:
      - checkout:
          path: gapic-generator
      - run:
          name: Checkout googleapis
          command: |
            mkdir -p googleapis
            git clone https://github.com/googleapis/googleapis.git googleapis
      - run:
          name: Build and install local toolkit
          command: |
            export RUNNING_IN_ARTMAN_DOCKER=True
            rm -rf gapic-generator/.git/
            gapic-generator/gradlew -p gapic-generator fatJar createToolPaths install build -x test -x javadoc
      - persist_to_workspace:
          # Save the toolkit and googleapis installations in workspace for later CircleCI jobs.
          root: /tmp/workspace
          paths:
            - gapic-generator
            - googleapis
  generate-clients:
    docker:
      - image: googleapis/artman:0.14.3
    working_directory: /tmp/
    environment:
      <<: *anchor_artman_vars
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: Make reports directory
          command: |
            mkdir -p ${ARTMAN_REPORTS_DIR}
      - run:
          name: Generate all language libraries
          command: |
            cd workspace/gapic-generator
            python generate_clients.py \
                --user-config=.circleci/artman_config.yaml \
                --log-dir=${ARTMAN_REPORTS_DIR}
            # TODO: To add languages to generate, edit generate_clients.py
      - store_artifacts:
          path: /tmp/workspace/reports
      - store_artifacts:
          path: /tmp/workspace/gapic-generator/artman-genfiles
      - persist_to_workspace:
          # Save all generated directories in workspace for later CircleCI jobs.
          root: /tmp/workspace
          paths:
            - gapic-generator/artman-genfiles
            - reports
  verify-java-generation:
    <<: *anchor_verify_generation
    environment:
      <<: *anchor_artman_vars
      LANGUAGE: java
  verify-python-generation:
    <<: *anchor_verify_generation
    environment:
      <<: *anchor_artman_vars
      LANGUAGE: python
  verify-ruby-generation:
    <<: *anchor_verify_generation
    environment:
      <<: *anchor_artman_vars
      LANGUAGE: ruby
  # TODO: verify other language clients were generated.
  test-java:
    working_directory: /tmp/
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - attach_workspace:
          at: workspace
      - run:
          name: Run all Java generated unit tests
          command: |
            cd workspace/gapic-generator/artman-genfiles/java
            ./gradlew build test
      # TODO: Java smoke tests.
      - run:
          name: Save test results
          command: |
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} /tmp/workspace/reports/ \;
          when: always
      - store_test_results:
          path: /tmp/workspace/reports
      - store_artifacts:
          path: /tmp/workspace/reports
  test-python:
    environment:
      NOX_COMMANDS: "
        cd workspace/gapic-generator/artman-genfiles/python/${TEST_API};
        nox --session \"unit(py='2.7')\";
        nox --session \"unit(py='3.5')\";
        nox --session \"unit(py='3.6')\";"
    <<: *anchor_test_python
  test-python-system:
    environment:
      <<: *anchor_auth_vars
      NOX_COMMANDS: "
        cd workspace/gapic-generator/artman-genfiles/python/${TEST_API};
        nox --session \"unit(py='2.7')\";
        nox --session \"unit(py='3.5')\";
        nox --session \"unit(py='3.6')\";"
    <<: *anchor_test_python
  test-ruby:
    environment:
      RUBY_TEST_COMMAND: "bundle exec rake test"
    <<: *anchor_test_ruby
  test-ruby-system:
    environment:
      RUBY_TEST_COMMAND: "bundle exec rake acceptance"
      <<: *anchor_auth_vars
    <<: *anchor_test_ruby
  # TODO: test other language clients.

# ======================= WORKFLOWS =======================

workflows:
  version: 2
  run_generated_tests:
    jobs:
      - install-gapic-generator
      - generate-clients:
          requires:
            - install-gapic-generator
      - verify-java-generation:
          requires:
            - generate-clients
      - verify-python-generation:
          requires:
            - generate-clients
      - verify-ruby-generation:
          requires:
            - generate-clients
      - test-java:
          requires:
            - verify-java-generation
      - test-python:
          requires:
            - verify-python-generation
      - test-ruby:
          requires:
            - verify-ruby-generation
      - test-python-system:
          requires:
            - verify-python-generation
          filters:
            branches:
              only: master
      - test-ruby-system:
          requires:
#            - test-ruby
            - verify-ruby-generation
          filters:
            branches:
              only: master

machine:
  services:
    - docker
