buildscript {
  repositories {
    mavenCentral()
  }
}

apply plugin: 'java'

description = 'PROTO library for {{name}}'
group = 'com.google.api.grpc'
version = (findProperty('version') == 'unspecified') ? '0.0.0-SNAPSHOT' : version
sourceCompatibility = 1.7
targetCompatibility = 1.7

repositories {
  mavenCentral()
  mavenLocal()
}

dependencies {
  compile 'com.google.protobuf:protobuf-java:{{version.com_google_protobuf}}'
  compile '{{maven.com_google_api_api_common}}'
  compile '{{maven.com_google_api_grpc_proto_google_common_protos}}'
  {{extra_deps}}
}

sourceSets {
  main {
    resources {
      srcDir 'src/main/proto'
    }
    java {
      srcDir 'src/main/java'
    }
  }
}

task javadocJar(type: Jar) {
  classifier = 'javadoc'
  from javadoc
}

task sourcesJar(type: Jar) {
  classifier = 'sources'
  from sourceSets.main.allSource
}

artifacts {
  archives javadocJar, sourcesJar
}

compileJava.options.encoding = 'UTF-8'
javadoc.options.encoding = 'UTF-8'
