## This is a test BUILD.bazel file to validate Buildozer class methods

some_rule(
  name = "rule1",
  attr = "attr_value",
  to_be_removed_a = "remove_a",
  to_be_removed_b = "remove_b",
)

some_other_rule(
  name = "rule2",
  list_attr = [
    "value1",
    "value2",
  ]
)
