buildscript {
  repositories {
    mavenCentral()
  }
}

apply plugin: 'java'

description = 'GRPC library for {{name}}'
group = '{{group}}'
version = '{{version}}'
sourceCompatibility = 1.7
targetCompatibility = 1.7

repositories {
  mavenCentral()
  mavenLocal()
}

dependencies {
  {{dependencies}}
}

sourceSets {
  main {
    java {
      srcDir 'src/main/java'
    }
  }
}

task javadocJar(type: Jar) {
  classifier = 'javadoc'
  from javadoc
}

task sourcesJar(type: Jar) {
  classifier = 'sources'
  from sourceSets.main.allSource
}

artifacts {
  archives javadocJar, sourcesJar
}

compileJava.options.encoding = 'UTF-8'
javadoc.options.encoding = 'UTF-8'